*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#wraper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
    transform-style: preserve-3d;
    z-index: -1;
}
.bg1{
    transform: translateZ(-30px) scale(5);
}
.bg2{
    transform: translateZ(-20px) scale(4);
}
.bg1, .bg2{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
h1{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 9rem;
    font-size: 7rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
section{
    background-color: black;
    color: white;
}
text{
    padding: 20px;
    margin: 20px;
}